<div class="w-100 h-100">  
  <nav class="nav nav-tabs nav-fill bg-light nav-bar-size">
    <a class="nav-item nav-link" role="button"
      (click)="changeTab('Map')"
      [ngClass]="{ 'active': currentTab === 'Map' }">
      Map
    </a>
    <a class="nav-item nav-link" role="button"
      (click)="changeTab('Stories')"
      [ngClass]="{ 'active': currentTab === 'Stories' }">
      Stories
    </a>
  </nav>

  <ngb-carousel #carousel class="page-content w-100" [hidden]="currentTab !== 'Stories'"
      [showNavigationIndicators]="'true'"
      (slide)="onSlide($event)">
      <ng-template ngbSlide *ngFor="let record of csvData.features; index as i">
        <div class="row justify-content-center page-content overflow-auto bg-dark text-white">
          <div class="col-8">
            <h3>{{i}}</h3>
            {{record.properties?.Story}}
          </div>
        </div>
      </ng-template>
    </ngb-carousel>

  <div class="page-content overflow-auto" *ngIf="currentTab === 'Map'">

    <div>
      Map
    </div>

  </div>
</div>
  