.nav-bar-size {
    height: 52px;
}

.page-content {
    height: calc(100vh - 52px);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
  }

  .map-popup {
      width: 50vw !important;
  }

  .story-wrap {
    font-size: 0.9rem;
    white-space: pre-wrap;
  }